<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
	
	<input type="hidden" name="brandid" th:value="${brand.brandid}" />
	<input type="hidden" name="referer" th:value="${referer}" />
	
	<div class="form-group">
        <div class="form-row">
            <div class="col-md-12">
                Are you sure to Delete Following Brand ? <br/>
                Brand - <b><span th:text="${brand.brandname}"></span></b>
<!--                 										   <br/> -->
<!--                 Sub Department Name - <b><span th:text="${subdept.subdeptname}"></span></b> -->
            </div>
        </div>
    </div>
           
</html>