<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
  		
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
  	<input type="hidden" name="referer" th:value="${referer}" />
	 
 	<div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="OrganizationLabel">Organization</label>
            </div>
            <div class="col-md-6"> 
	            <select class="form-control" name="orgid" required>
	            	<option value="">Select Organization</option>
	           		<option th:each="list: ${orgs}" th:value="${list.orgid}" th:text="${list.orgname}"></option>
	       		</select>
            </div>
        </div>
    </div>
	        
	<div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="DepartmentCodeLabel">Department Code</label>
            </div>
            <div class="col-md-6">
            	<input class="form-control deptcode" id="deptcode" name="deptcode" type="text" data-error="Please Enter Department Code" aria-describedby="DepartmentCode" placeholder="Enter Department Code" value="" onkeyup="deptCode('CreateDepartment');" required>
            </div>
            <div class="col-md-3">
           		<span class="deptcode_status"></span>
            	<span style="visibility:hidden;"class="deptcode_flag" th:text="true"></span>
            </div>
        </div>
    </div>
        
  	<div class="form-group">
         <div class="form-row">
             <div class="col-md-3">
             	 <label for="DepartmentNameLabel">Department Name</label>
             </div>
             <div class="col-md-6"> 
             	 <input class="form-control deptname" id="deptname" name="deptname" type="text" data-error="Please Enter Department Name" aria-describedby="DepartmentName" placeholder="Enter Department Name" value="" onkeyup="deptName('CreateDepartment');" required>
             </div>
             <div class="col-md-3">
           		 <span class="deptname_status"></span>
                 <span style="visibility:hidden;"class="deptname_flag" th:text="true"></span>
             </div>
         </div>
     </div>
</html>