<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
  		
  		<p class="error" style="color: red;" th:text="${errorString}" ></p>
	  	<input type="hidden" name="referer" th:value="${referer}" />
	 
	 	<div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="OrganizationLabel">Organization</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <select class="form-control" name="orgid" required>
			            <option value="">Select Organization</option>
			            <option th:each="list: ${orgs}" th:value="${list.orgid}" th:text="${list.orgname}"></option>
			        </select>
                </div>
            </div>
        </div>
	        
	 	<div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="DepartmentCodeLabel">Department Code</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <input class="form-control deptcode" id="deptcode" name="deptcode" type="text" data-error="Please Enter Department Code" aria-describedby="DepartmentCode" placeholder="Enter Department Code" value="" onkeyup="deptCode('CreateDepartment');" required>
                </div>
                <div class="col-md-3">
                	<span class="deptcode_status"></span>
                    <span style="visibility:hidden;"class="deptcode_flag" th:text="true"></span>
                </div>
            </div>
        </div>
        
       	<div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="DepartmentNameLabel">Department Name</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <input class="form-control deptname" id="deptname" name="deptname" type="text" data-error="Please Enter Department Name" aria-describedby="DepartmentName" placeholder="Enter Department Name" value="" onkeyup="deptName('CreateDepartment');" required>
                </div>
                <div class="col-md-3">
                	<span class="deptname_status"></span>
                    <span style="visibility:hidden;"class="deptname_flag" th:text="true"></span>
                </div>
            </div>
        </div>
	 	
	 	
<!--       <form id="create_dept" method="POST" th:action="@{createDepartment}"  onsubmit="return deptForm('create_dept');"> -->
<!--       <p class="error" style="color: red;" th:text="${errorString}" ></p> -->
<!--       <input type="hidden" class="deptid" name="deptid" th:value="${deptid}" /> -->
<!--          <table th:border="0"> -->
         
<!--          	<tr> -->
<!--                <td>Organization</td> -->
<!--                <td> -->
<!--                <select name="orgid"> -->
<!--                	   <option value="0">Select Organization</option> -->
<!-- 	               <option th:each="list: ${orgs}" th:value="${list.orgid}" th:text="${list.orgname}"></option> -->
<!--                </select></td> -->
<!-- 			   <td class="org_status"></td> -->
<!--             </tr> -->
<!--             <tr> -->
<!--                <td>Department Code</td> -->
               
<!--                <td><input type="text" class="deptcode" name="deptcode" th:value="${deptcode}" onkeyup="deptCode('create_dept');"/></td> -->
<!-- 			   <td class="deptcode_status"></td> -->
<!-- 			   <td style="visibility:hidden;" class="deptcode_flag" th:text="true"></td> -->
<!--             </tr> -->
<!--             <tr> -->
<!--                <td>Department Name</td> -->
              
<!--                <td><input type="text" class="deptname" name="deptname" th:value="${deptname}" onkeyup="deptName('create_dept');" /></td> -->
<!-- 			   <td class="deptname_status"></td> -->
<!-- 			   <td style="visibility:hidden;" class="deptname_flag" th:text="true"></td> -->
<!--             </tr>        -->
<!--             <tr> -->
<!--                <td colspan="2">                    -->
<!--                 <input type="submit" value="Submit" /> -->
<!--                </td> -->
<!--             </tr>   -->
<!--          </table> -->
<!--       </form> -->

<!--      <script src="../js/validation.js"></script> -->
<!--    </body> -->
</html>