<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
	
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
	<input type="hidden" name="sourceURL" th:value="${sourceURL}" />
	
	<div th:object="${dept}">
		<input type="hidden" name="deptid" th:field="*{deptid}" th:value="${dept.deptid}" />
		<input type="hidden" name="deptname" th:field="*{deptname}" th:value="${dept.deptname}" />
		
		<div class="form-group">
	        <div class="form-row">
	            <div class="col-md-12">
	                Are you sure to Delete Following Department ? <br/>
	                Department Code - <b><span th:text="*{deptcode}"></span></b>
	                										   	  <br/>
	                Department Name - <b><span th:text="*{deptname}"></span></b>
	            </div>
	        </div>
	    </div>
    </div>  
</html>