<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
	
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
	<input type="hidden" name="sourceURL" th:value="${sourceURL}" />
	
	<div th:object="${sd}">
		<input type="hidden" name="subdeptid" th:field="*{id}" />
		<input type="hidden" name="subdeptname" th:field="*{name}" />
		
		<div class="form-group">
	        <div class="form-row">
	            <div class="col-md-12">
	                Are you sure to Delete Following Sub Department ? <br/>
	                Sub Department Name - <b><span th:text="*{name}"></span></b>
	            </div>
	        </div>
	    </div>
    </div>
</html>