<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
	
	<input type="hidden" name="sourceURL" th:value="${sourceURL}" />
	
	<div th:object="${rma}">
		<input type="hidden" name="rmaid" th:field="*{rmaid}" th:value="${rma.rmaid}" />
		<div class="form-group">
	        <div class="form-row">
	            <div class="col-md-12">
	                Are you sure to Delete Following RMA Record ? <br/>
	                Order Code # - <b><span th:text="*{code}"></span></b>
      				<br/>
	                Invoice No - <b><span th:text="*{invoiceno}"></span></b>
	                <br/>
	                Serial No - <b><span th:text="*{serialno}"></span></b>
	            </div>
	        </div>
	    </div>
    </div>
           
</html>