<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
		
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
	<input type="hidden" name="sourceURL" th:value="${sourceURL}" />
    <div th:object="${reason}">  
    	<input type="hidden" name="reasonid" th:field="*{reasonid}" th:value="${reason.reasonid}" />
		<div class="form-group">
	        <div class="form-row">
	            <div class="col-md-3">
	                <label for="StockTypeLabel">Stock Type</label>
	            </div>
	            <div class="col-md-6">
		            <select class="form-control" name="stocktypeid" required>
			           	<option value="">Select Stock Type</option>
			          	<option th:each="list: ${stocktypes}" th:selected="${list.isStockType(reason.stocktypeid)}" th:field="*{stocktypeid}" th:value="${list.stocktypeid}" th:text="${list.stocktype}"></option>
		       		</select>
	            </div>
	        </div>
	    </div>
	       
	 	<div class="form-group">
	        <div class="form-row">
	            <div class="col-md-3">
	                <label for="ReasonLabel">Reason</label>
	            </div>
	            <div class="col-md-6">
	            	<input class="form-control reason" id="reason" name="reason" type="text" data-error="Please Ener Reason" aria-describedby="Reason" placeholder="Enter Reason" th:field="*{reason}" th:value="${reason.reason}" required>
	            </div>
	            <div class="col-md-3">
	            	<span class="reason_status"></span>
	                <span style="visibility:hidden;"class="reason_flag" th:text="true"></span>
	            </div>
	        </div>
	    </div>
    </div>
</html>