<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
   	</head>
   	
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
	<input type="hidden" name="sourceURL" th:value="${sourceURL}" />
    
    <div th:object="${th}">
	    <input type="hidden" name="transferhistoryid" th:field="*{transferhistoryid}" th:value="${th.transferhistoryid}" />
		<div class="form-group">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="StockTypeLabel">Product</label>
	            </div>
	            <div class="col-md-6">
	            	<select class="form-control" name="productid" th:field="*{productid}" required>
	           			<option value="">Select Product</option>
	           			<option th:each="elem: ${products}" th:selected="${elem.isProduct(th.productid)}" th:value="${elem.productid}" th:text="${elem.productname}"></option>
	       			</select>
	            </div>
	        </div>
	    </div>
	    
	    <div class="form-group">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="ReasonLabel">Quantity</label>
	            </div>
	            <div class="col-md-6">
	           		<input class="form-control quantity" id="quantity" name="quantity" type="text" data-error="Please Enter Quantity" aria-describedby="Quantity" placeholder="Enter Quantity" th:field="*{quantity}" th:value="${th.quantity}" required>
	       	 	</div>
	            <div class="col-md-3">
	            </div>
	        </div>
	    </div>
	    
	    <!-- <div class="form-group">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="StockTypeLabel">From</label>
	            </div>
	            <div class="col-md-6">
	            	<select class="form-control" name="orimainlocid" th:field="*{orimainlocid}" onchange="subloc_select('From',this.value);" required>
	           			<option value="">Select Main Location</option>
	           			<option th:each="elem: ${mainlocs}" th:selected="${elem.isMainLocName(th.orimainlocid)}" th:value="${elem.mainlocid}" th:text="${elem.mainlocname}">
	           			</option>
	       			</select>
	            </div>
	        </div>
	    </div>
	    
	    <div class="form-group" id="From">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="StockTypeLabel"></label>
	            </div>
	            <div class="col-md-6">
	            	<select class="form-control subloc_select" name="orisublocid" th:field="*{orisublocid}" required>
	           			<option value="">Select Sub Location</option>
	           			<option th:each="elem: ${orisublocs}" th:selected="${elem.isSubLocName(th.orisublocid)}" th:value="${elem.sublocid}" th:text="${elem.sublocname}">
	       			</select>
	            </div>
	        </div>
	    </div>
	    
	    <div class="form-group">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="StockTypeLabel">To</label>
	            </div>
	            <div class="col-md-6">
	            	<select class="form-control" name="desmainlocid" th:field="*{desmainlocid}" onchange="subloc_select('To',this.value);" required>
	           			<option value="">Select Main Location</option>
	           			<option th:each="elem: ${mainlocs}" th:selected="${elem.isMainLocName(th.desmainlocid)}" th:value="${elem.mainlocid}" th:text="${elem.mainlocname}">
	       			</select>
	            </div>
	        </div>
	    </div>
	    
	    <div class="form-group" id="To">
	    	<div class="form-row">
	        	<div class="col-md-3">
	            	<label for="StockTypeLabel"></label>
	            </div>
	            <div class="col-md-6">
	            	<select class="form-control subloc_select" name="dessublocid" th:field="*{dessublocid}" required>
	           			<option value="">Select Sub Location</option>
	           			<option th:each="elem: ${dessublocs}" th:selected="${elem.isSubLocName(th.dessublocid)}" th:value="${elem.sublocid}" th:text="${elem.sublocname}">
	       			</select>
	            </div>
	        </div>
	    </div> -->
    </div>    
</html>