<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>RMA</title>
	</head>
	
	<div class="header_ref" th:include="/header"></div>
	<div class="content-wrapper">
    	<div class="container-fluid">
    		
    		<div th:if="${message!= null}" class="alert alert-info alert-dismissible">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span  th:text="${message}"></span>
		  	</div>
		  	
	   		<!-- Breadcrumbs -->
	    	<ol class="breadcrumb">
		        <li class="breadcrumb-item">
		          <!-- <a th:href="''#"> -->RMA<!-- </a> -->
		        </li>
		        <li class="breadcrumb-item active">RMA Records</li>
	      	</ol>  
		    
	     	<div class="card mb-3">
      			<div class="card-header">
      				<i class="fa fa-table"></i> RMA History &nbsp;&nbsp;
      				<a onclick="doAction('dispose', 0);">
      					<button class="btn btn-primary" data-toggle="modal" >Add RMA</button>
	      			</a>
	      		</div>	
	      		<div class="card-body">
		        	<div class="table-responsive">
		        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		        			<thead>
		        				<tr>
		        					<th>Product</th>
		        					<th>Quantity</th>
						          	<th>Main Location</th>
						          	<th>Sub Location</th>
						          	<th>Log User</th>
						          	<th>Log Datetime</th>
						          	<th>Reason</th>
						          	<th>Approval</th>
						          	<th>Action</th>
	               			 	</tr>
		              		</thead>
		              		<tfoot>
		                		<tr>
		                			<th>Product</th>
		        					<th>Quantity</th>
						          	<th>Main Location</th>
						          	<th>Sub Location</th>
						          	<th>Log User</th>
						          	<th>Log Datetime</th>
						          	<th>Reason</th>
						          	<th>Approval</th>
						          	<th>Action</th>
					          	</tr>
				          	</tfoot>
				          	<tbody>
				          		<tr th:each="rma : ${rmas}">
				          			<td th:each="p : ${products}" th:if="${p.isProduct(rma.productid)}" th:text="${p.productname}"></td>
				          			<td th:text="${rma.quantity}"></td>
				          			<td th:each="m : ${mainlocs}" th:if="${m.isMainLocName(rma.mainlocid)}" th:text="${m.mainlocname}"></td>
				          			<td th:each="sub : ${sublocs}" th:if="${sub.isSubLocName(rma.sublocid)}" th:text="${sub.sublocname}"></td>
				          			<td th:if="${rma.sublocid}==0" th:text="'-'"></td>
				          			<td th:text="${rma.loguser}"></td>
				          			<td th:text="${rma.logdatetime}"></td>
				          			<td th:text="${rma.reason}"></td>
				          			<td th:if="${rma.approval}=='pending'"><a th:href="@{/rmaapproval(rmaid=${rma.rmaid},approve='approved')}"><i class="fa fa-check" title="Approve"></i></a>&nbsp;&nbsp;<a th:href="@{/rmaapproval(rmaid=${rma.rmaid},approve='cancelled')}"><i class="fa fa-close" title="Not Approve"></i></a></td>
						             <td th:unless="${rma.approval}=='pending'" th:text="(${rma.approval}=='approved') ? 'Approved' : 'Not Approve'"></td>
					             	<td>
						                <a th:onclick="'doAction(\'edit\',\''+ ${rma.rmaid} +'\');'"><button class="btn btn-primary" title="Edit RMA Transaction"><i class="fa fa-edit"></i></button></a>
						                <a th:onclick="'doAction(\'delete\',\''+ ${rma.rmaid} +'\');'"><button class="btn btn-primary" title="Delete RMA Transaction"><i class="fa fa-trash" ></i></button></a>
				            	 	</td>
				            	 </tr>
				          	</tbody>
			          	</table>
		          	</div>
	          	</div>
	          	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          	</div>
      		
      		<div class="modal clickable" id="CreateRMA" tabindex="-1" role="dialog" aria-labelledby="CreateRMA" aria-hidden="true">
		            <form method="POST" th:action="@{/createRMA}" id="CreateRMA">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Add RMA</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		        
		        <div class="modal clickable" id="EditRMA" tabindex="-1" role="dialog" aria-labelledby="EditRMA" aria-hidden="true">
		            <form method="POST" th:action="@{/editRMA}" id="EditRMA">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Edit RMA History</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
				
				<div class="modal clickable" id="DeleteRMA" tabindex="-1" role="dialog" aria-labelledby="DeleteRMA" aria-hidden="true">
		            <form method="POST" th:action="@{/deleteRMA}" id="DeleteRMA">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Delete RMA History</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Delete</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>		      
	   	</div><!-- end of .container-fluid-->
    </div><!-- end of .content-wrapper-->
	<div class="footer_ref" th:include="/footer"></div>
	
	<script type="text/javascript">
        function doAction(action, id) {
            if (action == 'dispose') {
                $('#CreateRMA .modal-body').empty();
                $('#CreateRMA .modal-title').text("Add RMA");
                $('#CreateRMA #modal_error').hide();
                $('#CreateRMA .modal-body').load('createRMA', function () {
                    $('#CreateRMA').modal({show: true});
                });
            } else if (action == 'edit') {
                $('#EditRMA .modal-body').empty();
                $('#EditRMA .modal-title').text("Edit RMA History");
                $('#EditRMA #modal_error').hide();
                $('#EditRMA .modal-body').load('editRMA?rmaid=' + id, function () {
                    $('#EditRMA').modal({show: true});
                });
            } else if (action == 'change') {
            	console.log("change");
                $('#ChangePwd .modal-body').empty();
                $('#ChangePwd .modal-title').text("Change Password");
                $('#ChangePwd .modal-body').load('changePassword?userid=' + id, function () {
                    $('#ChangePwd').modal({show: true});
                });
            } else if (action == 'delete') {
                $('#DeleteRMA .modal-body').empty();
                $('#DeleteRMA .modal-title').text("Delete RMA History");
                $('#DeleteRMA .modal-body').load('deleteRMA?rmaid=' + id, function () {
                    $('#DeleteRMA').modal({show: true});
                });
            }
        }
    </script>
</html>