<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    </head>
		
	<p class="error" style="color: red;" th:text="${errorString}" ></p>
   	<input type="hidden" name="stocktypeid" value="1" />
  	<input type="hidden" name="referer" th:value="${referer}" />

	<div class="form-group">
       <div class="form-row">
           <div class="col-md-3">
               <label for="ProductLabel">Product</label>
           </div>
           <div class="col-md-6">
	           <select class="form-control" name="productid" required>
		           <option value="">Select Product</option>
		           <option th:each="list: ${products}" th:selected="${list.isProduct(index)}" th:value="${list.productid}" th:text="${list.productname}"></option>
	      	   </select>
           </div>
       </div>
   </div>
        
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="MainLocationLabel">Main Location</label>
            </div>
            <div class="col-md-6">
	            <select class="form-control" name="mainlocid" required onchange="subloc_select('StockIn',this.value);">
		            <option value="">Select Main Location</option>
		            <option th:each="list: ${mainlocs}" th:value="${list.mainlocid}" th:text="${list.mainlocname}"></option>
	       		</select>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="SubLocationLabel">Sub Location</label>
            </div>
            <div class="col-md-6">                    
	            <select class="form-control subloc_select" name="sublocid" required>
	            	<option value="">Select Sub Location</option>
	        	</select>
            </div>
         </div>
     </div>
     
	<div class="form-group">
    	<div class="form-row">
        	<div class="col-md-3">
                <label for="QuantityLabel">Quantity</label>
            </div>
            <div class="col-md-6">
            	<input class="form-control quantity" id="quantity" name="quantity" type="text" data-error="Please Enter Quantity" aria-describedby="Quantity" placeholder="Enter Quantity" value="1" required>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    
    <div class="form-group">
    	<div class="form-row">
        	<div class="col-md-3">
            	<label for="SerialNoLabel">Serial No</label>
       		</div>
           	<div class="col-md-6">
       			<textarea class="form-control serialno" id="serialno" name="serialno" type="text" rows="4" cols="50" data-error="Please Enter Serial No" aria-describedby="SerialNo" placeholder="Seperate each serial number with newline or space" onkeyup="countSerialNo('StockIn');" required></textarea>
           	</div>
           	<div class="col-md-3">
           	</div>
       	</div>
	</div>
   		
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="DateLabel">Date</label>
            </div>
            <div class="col-md-6">
            	<input class="form-control date" id="date" name="date" type="date" data-error="Please Enter Date" aria-describedby="Date" placeholder="Enter Date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="TimeLabel">Time</label>
            </div>
            <div class="col-md-6">
            	<input class="form-control time" id="time" name="time" type="time" data-error="Please Enter Time" aria-describedby="Time" placeholder="Enter Time" th:value="${#dates.format(#dates.createNow(), 'HH:mm')}" required>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="ReasonLabel">Reason</label>
            </div>
            <div class="col-md-6">
	            <select class="form-control" name="reasonid" required>
		            <option value="">Select Reason</option>
		            <option th:each="list: ${reasons}" th:value="${list.reasonid}" th:text="${list.reason}"></option>
	       		</select>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="RemarkLabel">Remark</label>
            </div>
            <div class="col-md-6">  
                <textarea class="form-control remark" id="remark" name="remark" rows="4" cols="50" data-error="Please Enter Remark" aria-describedby="Remark" placeholder="Remark" value=""></textarea>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</html>