<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Storage</title>
	</head>
	
	<div class="header_ref" th:include="/header"></div>
	<div class="content-wrapper">
    	<div class="container-fluid">
    	
    		<div th:if="${message!= null}" class="alert alert-info alert-dismissible">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span  th:text="${message}"></span>
		  	</div>
		  	
	   		<!-- Breadcrumbs -->
	    	<ol class="breadcrumb">
		        <li class="breadcrumb-item">
		          <!-- <a th:href="''#"> -->Transfer<!-- </a> -->
		        </li>
		        <li class="breadcrumb-item active">Stock</li>
	      	</ol>  
		    
	     	<div class="card mb-3">
      			<div class="card-header">
      				<i class="fa fa-table"></i> Storage &nbsp;&nbsp;
      				<a onclick="doAction('transfer', 0);">
      					<button class="btn btn-primary" data-toggle="modal" >Stock Transfer</button>
	      			</a>
	      		</div>	
	      		<div class="card-body">
		        	<div class="table-responsive">
		        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		        			<thead>
		        				<tr>
									<th>Organization</th>
									<th>Department</th>
									<th>Sub Department</th>
		        					<th>Main Location</th>
						          	<th>Sub Location</th>
						          	<th>Product</th>
						          	<th>Quantity</th>
						          	<!-- <th>Action</th> -->
	               			 	</tr>
		              		</thead>
		              		<tfoot>
		                		<tr>
		                			<th>Organization</th>
									<th>Department</th>
									<th>Sub Department</th>
		                  			<th>Main Location</th>
						          	<th>Sub Location</th>
						          	<th>Product</th>
						          	<th>Quantity</th>
						          	<!-- <th>Action</th> -->
					          	</tr>
				          	</tfoot>
				          	<tbody>
				          		<tr th:each="s : ${storages}">
				          			<td th:each="org : ${orgs}" th:if="${org.isOrgname(s.orgid)}" th:text="${org.orgname}"></td>
				          			<td th:each="dept : ${depts}" th:if="${dept.isDeptname(s.deptid)}" th:text="${dept.deptname}"></td>
				          			<td th:each="subdept : ${subdepts}" th:if="${subdept.isSelected(s.subdeptid)}" th:text="${subdept.subdeptname}"></td>
				          			<td th:each="m : ${mainlocs}" th:if="${m.isMainLocName(s.mainlocid)}" th:text="${m.mainlocname}"></td>
				          			<td th:each="sub : ${sublocs}" th:if="${sub.isSubLocName(s.sublocid)}" th:text="${sub.sublocname}"></td>
				          			<td th:if="${s.sublocid}==0" th:text="'-'"></td>
				          			<td th:each="p : ${products}" th:if="${p.isProduct(s.productid)}" th:text="${p.productname}"></td>
				          			<td th:class="(${s.quantity} <= 0) ? 'text-danger' : 'text-success'" th:text="${s.quantity}"></td>
					             	<!-- <td>
						                <a th:onclick="'doAction(\'edit\',\''+ ${prod.productid} +'\');'"><button class="btn btn-primary" title="Edit Product"><i class="fa fa-edit" title="Edit Product"></i></button></a>
						                <a th:onclick="'doAction(\'delete\',\''+ ${prod.productid} +'\');'"><button class="btn btn-primary" title="Delete Product"><i class="fa fa-trash" title="Delete Product"></i></button></a>
				            	 	</td> -->
				            	 </tr>
				          	</tbody>
			          	</table>
		          	</div>
	          	</div>
	          	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          	</div>
      		
      		<div class="modal clickable" id="TransferStock" tabindex="-1" role="dialog" aria-labelledby="TransferStock" aria-hidden="true">
		            <form method="POST" th:action="@{/transferStock}" id="TransferStock">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Stock Transfer</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		        
		        <div class="modal clickable" id="EditProduct" tabindex="-1" role="dialog" aria-labelledby="EditProduct" aria-hidden="true">
		            <form method="POST" th:action="@{/editProduct}" id="EditProduct">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Edit Product</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
				
				<div class="modal clickable" id="DeleteProduct" tabindex="-1" role="dialog" aria-labelledby="DeleteProduct" aria-hidden="true">
		            <form method="POST" th:action="@{/deleteProduct}" id="DeleteProduct">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Delete Product</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Delete</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>		      
	   	</div><!-- end of .container-fluid-->
    </div><!-- end of .content-wrapper-->
	<div class="footer_ref" th:include="/footer"></div>
	
	<script type="text/javascript">
        function doAction(action, id) {
            if (action == 'transfer') {
                $('#TransferStock .modal-body').empty();
                $('#TransferStock .modal-title').text("Stock Transfer");
                $('#TransferStock #modal_error').hide();
                $('#TransferStock .modal-body').load('transferStock', function () {
                    $('#TransferStock').modal({show: true});
                });
            } else if (action == 'edit') {
                $('#EditProduct .modal-body').empty();
                $('#EditProduct .modal-title').text("Edit Product");
                $('#EditProduct .modal-body').load('editProduct?productid=' + id, function () {
                    $('#EditProduct').modal({show: true});
                });
            } else if (action == 'change') {
            	console.log("change");
                $('#ChangePwd .modal-body').empty();
                $('#ChangePwd .modal-title').text("Change Password");
                $('#ChangePwd .modal-body').load('changePassword?userid=' + id, function () {
                    $('#ChangePwd').modal({show: true});
                });
            } else if (action == 'delete') {
                $('#DeleteProduct .modal-body').empty();
                $('#DeleteProduct .modal-title').text("Delete Product");
                $('#DeleteProduct .modal-body').load('deleteProduct?productid=' + id, function () {
                    $('#DeleteProduct').modal({show: true});
                });
            }
        }
    </script>
</html>