<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
   		<meta charset="UTF-8">
   	</head>
 		<p class="error" style="color: red;" th:text="${errorString}" ></p>
 		<input type="hidden" class="userid" name="userid" th:value="${useracc.userid}" />
 		
 		<div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="UserNameLabel">User Name</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <input class="form-control username" id="username" name="username" type="text" data-error="Please Ener User Name" aria-describedby="UserName" placeholder="Enter User Name" th:value="${useracc.username}" onkeyup="userName('EditUser');" required>
                </div>
                <div class="col-md-3">
                	<span class="username_status"></span>
                    <span style="visibility:hidden;"class="username_flag" th:text="true"></span>
                </div>
            </div>
        </div>
        
         <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="UserRoleLabel">Role</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <select name="userrole" required>
			            <option value="">Select User Role</option>
			            <option th:each="list: ${approles}" th:selected="${list.isSelected(userrole.roleid)}" th:value="${list.roleid}" th:text="${list.rolename}">
			        </select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="OrganizationLabel">Organization</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <select required name="orgid" onchange="department_select('EditUser',this.value);">
		               	<option value="">Select Organization</option>
			            <option th:each="list: ${orgs}" th:selected="${list.isSelected(useracc.orgid)}" th:value="${list.orgid}" th:text="${list.orgname}" ></option>
	                </select>
                </div>
            </div>
        </div>
        
         <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="DepartmentLabel">Department</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <select required name="deptid" class="dept_select" onchange="subdepartment_select('EditUser', this.value);">
		            	<option value="">Select Department</option>
		            	<option th:each="list: ${depts}" th:selected="${list.isSelected(useracc.deptid)}" th:value="${list.deptid}" th:text="${list.deptname}" ></option>
	            	</select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="SubDepartmentLabel">Sub Department</label>
                </div>
                <div class="col-md-6">                    
                    <!-- <input disabled class="form-control" id="UserID" name="UserID_Disabled" type="number" aria-describedby="UserID_Disabled" placeholder="Enter ID" value="<?php echo $result['user_id']; ?>"> -->
                    <select required name="subdeptid" class="subdept_select">
			        	<option value="">Select Sub Department</option>
			        	<option th:each="list: ${subdepts}" th:selected="${list.isSelected(useracc.subdeptid)}" th:value="${list.subdeptid}" th:text="${list.subdeptname}" ></option>
		            </select>
                </div>
            </div>
        </div>
        
<!--          <form id=edit_user method="POST" th:action="@{editUser}" onsubmit="return userForm('edit_user');"> -->
<!--             <input type="hidden" class="userid" name="userid" th:value="${useracc.userid}" /> -->
<!--             <table border="0"> -->
<!-- <!--                <tr> --> 
<!-- <!--                   <td>UserCode</td> --> 
                  
<!-- <!--                   <td><input type="text" class="usercode" name="usercode" th:value="${useracc.usercode}" onkeyup="userCode('edit_user');"/> --> 
<!-- <!--                    <td class="usercode_status"></td> --> 
<!-- <!--                    <td style="visibility:hidden;" class="usercode_flag" th:text="true"></td> --> 
<!-- <!--                </tr> --> 
<!--                <tr> -->
<!--                   <td>UserName</td> -->
                  
<!--                   <td><input type="text" class="username" name="username" th:value="${useracc.username}" onkeyup="userName('edit_user');"/></td> -->
<!--                   <td class="username_status"></td> -->
<!--                   <td style="visibility:hidden;" class="username_flag" th:text="true"></td> -->
<!--                </tr> -->
<!--                <tr> -->
<!-- 	               <td>User Role</td> -->
<!-- 	               <td> -->
<!-- 		           <select name="userrole"> -->
<!-- 	               	   <option value="0">Select User Role</option> -->
<!-- 	               	   <option th:each="list: ${approles}" th:selected="${list.isSelected(userrole.roleid)}" th:value="${list.roleid}" th:text="${list.rolename}"> -->
<!-- 	               </select> -->
<!-- 	               </td> -->
<!--                </tr> -->
<!-- 	            <tr> -->
<!-- 	               <td>Organization</td> -->
<!-- 	               <td> -->
<!-- 	               <select name="orgid" onchange="department_select('edit_user', this.value);"> -->
<!-- 	               	   <option value="0">Select Organization</option> -->
<!-- 		               <option th:each="list: ${orgs}" th:selected="${list.isSelected(useracc.orgid)}" th:value="${list.orgid}" th:text="${list.orgname}" ></option> -->
<!-- 	               </select></td> -->
<!-- 				   <td class="org_status"></td> -->
<!-- 	            </tr> -->
<!-- 	            <tr id="row_dept"> -->
<!-- 	            	<td>Department</td> -->
<!-- 	            	<td><select name="deptid" class="dept_select" onchange="subdepartment_select('edit_user', this.value);"> -->
<!-- 		            	<option value="0">Select Department</option> -->
<!-- 		            	<option th:each="list: ${depts}" th:selected="${list.isSelected(useracc.deptid)}" th:value="${list.deptid}" th:text="${list.deptname}" ></option> -->
<!-- 	            	</select></td> -->
<!-- 	            </tr> -->
<!-- 	            <tr> -->
<!-- 	            	<td>Sub Department</td> -->
<!-- 	            	<td><select name="subdeptid" class="subdept_select"> -->
<!-- 		            	<option value="0">Select Sub Department</option> -->
<!-- 		            	<option th:each="list: ${subdepts}" th:selected="${list.isSelected(useracc.subdeptid)}" th:value="${list.subdeptid}" th:text="${list.subdeptname}" ></option> -->
<!-- 	            	</select></td> -->
<!-- 	            </tr> -->
<!--                <tr> -->
<!--                   <td colspan = "2"> -->
<!--                       <input type="submit" value="Submit" /> -->
<!-- <!--                       <a th:href="@{productList}">Cancel</a> --> 
<!--                   </td> -->
<!--                </tr> -->
<!--             </table> -->
<!--          </form> -->
<!--          <script src="../js/validation.js"></script> -->
   </body>
</html>