<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>User Account</title>
	</head>

	<div class="header_ref" th:include="/header"></div>
	<div class="content-wrapper">
   		<div class="container-fluid">
	   		<!-- Breadcrumbs -->
	    	<ol class="breadcrumb">
		        <li class="breadcrumb-item">
		          <a th:href="@{/useraccount}">User Account</a>
		        </li>
		        <li class="breadcrumb-item active">User Account</li>
	      	</ol>
	      	<div class="card mb-3">
	      		<div class="card-header">
	      			<i class="fa fa-table"></i> User Account &nbsp;&nbsp;
	      			<a onclick="doAction('new', 0);">
	      				<button class="btn btn-primary" data-toggle="modal" >Create User</button>
	      			</a>
	      		</div>	  	
		        <div class="card-body">
		        	<div class="table-responsive">
		        		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		        			<thead>
		        				<tr>
		        					<th>User Name</th>
				                  	<th>Role</th>
				                  	<th>Organization</th>
				                 	<th>Department</th>
				                 	<th>Sub Department</th>
				                  	<th>Action</th>
	               			 	</tr>
		              		</thead>
		              		<tfoot>
		                		<tr>
		                  			<th>User Name</th>
				                  	<th>Role</th>
				                  	<th>Organization</th>
				                 	<th>Department</th>
				                 	<th>Sub Department</th>
				                  	<th>Action</th>
		                		</tr>
		              		</tfoot>
		              		<tbody>
		                		<tr th:each="user : ${useraccs}">
						            <td th:text="${user.username}"></td>
						            <td>Role</td>
<!-- 						            <td th:each="list: ${approles}" th:selected="${list.isSelected(userrole.roleid)}" th:text="${list.rolename}"></td> -->
						            <td th:each="list: ${orgs}" th:if="${list.isSelected(user.orgid)}" th:text="${list.orgname}" ></td>
						            <td th:each="list: ${depts}" th:if="${list.isSelected(user.deptid)}" th:text="${list.deptname}" ></td>
						            <td th:each="list: ${subdepts}" th:if="${list.isSelected(user.subdeptid)}" th:text="${list.subdeptname}" ></td>
						            <td>
							            <a th:onclick="'doAction(\'edit\',\''+ ${user.userid} + '\');'" ><button class="btn btn-primary" title="Edit User"><i class="fa fa-edit" title="Edit User"></i></button></a>
										<a th:onclick="'doAction(\'change\',\''+ ${user.userid} +'\');'"><button class="btn btn-primary" title="Change Password"><i class="fa fa-key" title="Change Password"></i></button></a>
							            <a th:onclick="'doAction(\'delete\',\''+ ${user.userid} +'\');'"><button class="btn btn-primary" title="Delete User"><i class="fa fa-trash" title="Delete User"></i></button></a>
						            </td>
					            </tr>
		              		</tbody>
	              		</table>
              		</div>
		         </div>
		         <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		       </div>
		       
		       <div class="modal clickable" id="CreateUser" tabindex="-1" role="dialog" aria-labelledby="CreateUser" aria-hidden="true">
		            <form method="POST" th:action="@{/createUser}" id="CreateUser">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Create User</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		        
		        <div class="modal clickable" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="EditUser" aria-hidden="true">
		            <form method="POST" th:action="@{/editUser}" id="EditUser">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Edit User</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		        
		        <div class="modal clickable" id="ChangePwd" tabindex="-1" role="dialog" aria-labelledby="ChangePwd" aria-hidden="true">
		            <form method="POST" th:action="@{/changePassword}" id="ChangePwd">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Change Password</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Save</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>
		        
		        <div class="modal clickable" id="DeleteUser" tabindex="-1" role="dialog" aria-labelledby="DeleteUser" aria-hidden="true">
		            <form method="POST" th:action="@{/deleteUser}" id="DeleteUser">
		                <div class="vertical-alignment-helper">
		                    <div class="modal-dialog  modal-lg vertical-align-center">
		                        <!-- Modal content-->
		                        <div class="modal-content">
		                            <div class="modal-header">
		                                <h4 class="modal-title">Change Password</h4>
		                                <button type="button" class="close" data-dismiss="modal">&times;</button>
		                            </div>
		                            
		                            <div class="alert alert-danger" role="alert" id="modal_error" style="display:none;"></div>
		
		                            <div class="modal-body">
		
		                            </div>
		
		                            <div class="modal-footer">
		                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                <button type="submit" class="btn btn-primary">Delete</button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </form>
		        </div>

	    </div><!-- end of .container-fluid-->
   	</div><!-- end of .content-wrapper-->
	<div class="footer_ref" th:include="/footer"></div>  

	<script type="text/javascript">
        function doAction(action, id) {
            if (action == 'new') {
                $('#CreateUser .modal-body').empty();
                $('#CreateUser .modal-title').text("New User");
                $('#CreateUser .modal-body').load('createUser', function () {
                    $('#CreateUser').modal({show: true});
                });
            } else if (action == 'edit') {
                $('#EditUser .modal-body').empty();
                $('#EditUser .modal-title').text("Edit User");
                $('#EditUser .modal-body').load('editUser?userid=' + id, function () {
                    $('#EditUser').modal({show: true});
                });
            } else if (action == 'change') {
            	console.log("change");
                $('#ChangePwd .modal-body').empty();
                $('#ChangePwd .modal-title').text("Change Password");
                $('#ChangePwd .modal-body').load('changePassword?userid=' + id, function () {
                    $('#ChangePwd').modal({show: true});
                });
            } else if (action == 'delete') {
                $('#DeleteUser .modal-body').empty();
                $('#DeleteUser .modal-title').text("Delete User");
                $('#DeleteUser .modal-body').load('deleteUser?userid=' + id, function () {
                    $('#DeleteUser').modal({show: true});
                });
            }
        }
    </script>
</html>